* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Lobster;
}
body {
    background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); }

.navbar-nav {
    display: flex !important;
    justify-content: center !important;
    margin: 0px !important; }
nav {
    margin-bottom: 3rem;
    display: inline-block;
    text-align: right;
    width: 89%;
    margin-bottom: 4.5%;}
  
  nav ul li {
    float: right;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-left: 1rem; }
  
  .nav-link {
    text-decoration: none;
    color:  #c23794;
    font-family: monospace;
    font-size: 2,5rem; }
  
  nav ul li a:hover {
    color: #f4fbfc; }
  
  .link {
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    color:  #c23794;
    position: relative;
    margin-top: 10px;
    font-size: 1.5rem; }
  
  .link::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #d16ba5;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25% ease; }
  
  .link:hover::after {
    transform: scaleX(1); }
  
  .logo {
    display: inline-block;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    margin: 1%; }
  
.nav-bar {
    display: block;
    width: 70%;
  } 
.card_contenedora {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: top 4vh;
    margin-bottom: 5vh;
    border-radius: 50%;
 }
.card {
    margin: 5rem;
    width: 25rem; }
  
.card:hover {
    animation-name: jump;
    animation-duration: 1s;
    animation-iteration-count: infinite; }
  
  @keyframes jump {
    0% {
      transform: translate(0%, 0%); }
    50% {
      transform: translate(0%, 5%); }
    100% {
      transform: translate(0%, 0%); } }
.card-img-top {
    height: 15rem;
    object-fit: cover; }  

.bienvenida{
    color: #c23794;
    font-size: 2.5rem;
    text-align: center;
}
.h2{
    color: #c23794;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 5rem; 
    font-size: 1.5rem;
}

.description {
    padding: 5rem;
    font-size: large;
    background-color: azure;
    color: rgb(91, 91, 91);
    border-radius: 50rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: go-left;
    animation-duration: 1s;
}

/*FORMULARIO*/

.form-label{
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

    /*FOOTER*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

.row {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.fa {
    padding: 20px;
    text-align: center;
    margin: 5px 2px;
    font-size: 30px;
    width: 50px;
}

.fa:hover {
    animation-name: jump;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes jump {
    0% {
        transform: translate(0%, 0%)
    }

    50% {
        transform: translate(0%, 8%)
    }

    100% {
        transform: translate(0%, 0%)
    }
}

.fa-facebook {
    background: #3B5998;
    color: white;
    display: inline-block;
    width: 5%;
    border-radius: 15%;
    padding: 1rem;
    padding-right: 1rem;


}

.fa-instagram {
    background-color: #b8085a;
    color: rgb(228, 216, 224);
    display: inline-block;
    width: 5%;
    border-radius: 15%;
    padding: 1rem;


}

.fa-whatsapp {
    background: #067547;
    color: white;
    display: inline-block;
    width: 5%;
    border-radius: 15%;
    padding: 1rem;
}

.fa:hover {
    opacity: 0.9;
}
